html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #fcb045;
  cursor: pointer;
}

.calendar-dark iframe {
  filter: invert(0.85) hue-rotate(180deg) brightness(0.95);
}
